@import '../core/var'
@import '../core/mix'

.c-icon
	display inline-block
	vertical-align top
	font-size 0
	
.c-icon-triangle
	background-size 100% 100%	
	
.c-icon-triangle-down--default
	width 10px
	height 6px
	
.c-icon-triangle-down--grey
	background url('/static/image/triangle_down_grey.png') no-repeat
	
.c-icon-arrow
	background-size 100% 100%
	
.c-icon-arrow-down--default
	width 8px
	height 5px
	
.c-icon-arrow-down--grey
	background url('/static/image/arrow_down_grey.png') no-repeat
	
.c-icon-arrow-up--default
	width 8px
	height 5px
	
.c-icon-arrow-up--grey
	background url('/static/image/arrow_up_grey.png') no-repeat